<h6 class="text-center">Student Register List</h6><br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeeList">
    <td>{{employee.name}}</td>
    <td>{{employee.position}}</td>
    <td>
      <button class="btn"  placement="left"(click)="onEdit(employee)">
        <i class="fa fa-pencil-square-o"></i>
      </button>
      <!--<button class="btn"  tooltip="Delete" placement="left" (click)="onDelete(employee.$key)">
        <i class="fa fa-trash-o"></i>
      </button>-->
      <button class="btn-icon"   mwlConfirmationPopover [title]="'Alert'" [message]="'Are you really <b>sure</b> you want to remove this data ?'" placement="bottom" (confirm)="onDelete(employee.$key)" (cancel)="cancelClicked = true"><i class="fa fa-trash" aria-hidden="true"></i></button>

    </td>
  </tr>
</table>
<div id="snackbar1"> Data Deleted Succcessfully</div>
