<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <label>College</label>
    <input class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="College" required>
  </div>
  <div class="form-group">
     <label>Degree</label>
    <input class="form-control" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Degree" required>
  </div>
  <div class="form-group">
    <label>Fee</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-dollar"></i>
      </div>
      <input class="form-control" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Fee" required>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>
<div id="snackbar"> Data Submitted Succcessfully</div>
